 <h1>Cocktail:</h1>
 <h2><%= @cocktail.name %></h2>

 <ul>
   <% @cocktail.doses.each do |d| %>
   <li><p><%= d.description %></p>
    <p><%= d.ingredient.name %></p>
    <p><%= link_to "Delete", dose_path(d),
    method: :delete,
    data: { confirm: "Are you sure?" } %></p></li>
   <% end %>
 </ul>

<%= link_to "cocktail list", cocktails_path %>
<%= link_to "add dose", new_cocktail_dose_path(@cocktail) %>

